*{
    box-sizing: border-box 10px;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(39, 243, 175),rgb(245, 112, 227));
}



.container{
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(0, 211, 112);
    display: grid;
    gap: 10px;
    height: 300px;
    width: 500px;

    
}

.container h5{
    padding-top: 15px;
}

.container input{
    border-radius: 3px;
    border: none;
    padding-left: 5px;
    box-shadow: 0 0 5px ;
}

 #btn1{
    border: none;
    box-shadow: 0 0 5px ;
    border-radius: 3px;
    background-image: linear-gradient(rgb(97, 28, 236),green);
}

.data button{
    height: 50px;
    width: 100px;
    border: none;
    background-image: linear-gradient(rgb(117, 46, 211),rgb(7, 188, 243));
}